.modal-wrapper{
    z-index: 9999;
    top: 0;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.52);
    overflow-y: scroll;
}

.modal{
    padding: 20px;
    width: 50%;
    min-height: 80%;
    max-height: calc(100vh - 200px);
    overflow-y: auto;

    background-color: white;


}
.modal>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}