<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}" />
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if(session.get('auth'))%}
                {% for item in menuauth %}
                <li><a href="{{item['url']}}">{{item['name']}}</a></li>
                {% endfor %}

                {% else %}
                {% for item in menu %}
                <li><a href="{{item['url']}}">{{item['name']}}</a></li>
                {% endfor %}
                {% endif %}
            </ul>

        </nav>
        <div>
<!--            <p>{{session.get('auth')}}</p>-->
<!--            <p>{{session.get('user')}}</p>-->
<!--                {% if(session.get('auth'))%}-->
<!--                <a href="/logout">Выход</a>-->
<!--                <a href="/profile">{{session.get('user')}}</a>-->
<!--                {% endif %}-->
        </div>
    </header>
    <div class="section">
        <div class="form-box">
            <div class="form-value">
                <form action="/log/obrCH" method="post" class="form">
                    <h2>Авторизация</h2>
                    <div class="input-box">
                        <ion-icon name="people-outline"></ion-icon>
                        <input value="" type="text" name="login" class="login" id="login"
                            required>
                        <label for="login" class="form-label">Логин</label>
                    </div>
                    <div class="input-box">
                        <ion-icon name="lock-closed-outline"></ion-icon>
    
                        <input type="password" name="password" class="password" id="password" required>
                        <label for="password" class="form-label">Пароль</label>
                    </div>
                    <p class="error">

                    </p>
                    <button class="submit_accept" type="submit">Авторизоваться</button>
                    <div class="register">
                        {% for message in get_flashed_messages() %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div class="register">
                        <p>Нету аккаунта? <a href="/reg">Зарегестрируйтесь</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>